* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  transition: all 0.2s ease-in-out;
}

body {
  background-color: #f8f9fa;
  font-family: futura-light, sans-serif;
  margin: 0 auto;
  height: 100vh;
}

/* ================ fonts ================ */

@font-face {
  font-family: futura-bold;
  src: url("./fonts/futura/Futura_Heavy_font.ttf") format("ttf");
  font-weight: 600;
}

@font-face {
  font-family: futura-normal;
  src: url("./fonts/futura/futura_medium_bt.ttf") format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: futura-light;
  src: url("./fonts/futura/futura_light_bt.ttf") format("ttf");
  font-weight: 200;
}

/* ================ generic ================ */

.row-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.col-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none !important;
}

.show {
  display: "" !important;
}

/* ================ section ================ */
html {
  font-family: futura-thin, sans-serif;
}

h1,
h2 {
  font-family: futura-bold, sans-serif;
}

/* header styles */

header h1 {
  font-size: 2rem;
  text-align: center;
}

header p {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

/* section styles */

section article {
  width: 33%;
  float: left;
}

section p {
  margin: 5px 0;
}

section ul {
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  letter-spacing: -5px;
  margin-bottom: 10px;
}

/* navbar */

header nav h1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

#get-mood {
  margin: 25px auto;
}

#get-mood button,
#get-mood input {
  font-size: 2rem;
}

#giphy-test img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80vw;
  height: 50vh;
  object-fit: cover;
}

.wish {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#myInput,
.input-row,
#moodButton {
  width: 100%;
}

nav a {
  font-size: 1.5rem;
  text-align: right;
  padding: 5px;
  color: #fff;
  position: absolute;
  right: 3px;
  bottom: 3px;
}

@media only screen and (min-width: 768px) {
  #giphy-test img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 60vh;
    object-fit: cover;
  }

  header {
    width: 80%;
    margin: 0 auto;
  }
}
